.idea/
assets/js/config.js


# Slim PHP framework
/server/config.yml
/server/vendor/
/server/cache/
/server/logs/*
!/server/logs/README.md

awaiting_data/awaiting_data (4).png
awaiting_data/awaiting_data (3).png
awaiting_data/awaiting_data (2).png
awaiting_data/awaiting_data (1).png
awaiting_data/logo.png
