<div class="power-options">
    <i class="fa fa-power-off fa-fw fa-lg" aria-hidden="true"></i>
    <div class="power-options-popout">
        <button data-kodi-target="{{- screen.name -}}" data-kodi-action="reset">
            <i class="fa fa-bolt fa-fw fa-lg" aria-hidden="true"></i>
            <br><br>
            Reboot System
        </button>
        <button data-kodi-target="{{- screen.name -}}" data-kodi-action="cec-activate">
            <i class="fa fa-television fa-fw fa-lg" aria-hidden="true"></i>
            <i class="fa fa-check fa-fw fa-lg" aria-hidden="true"></i>
            <br><br>
            Display On
        </button>
        <button data-kodi-target="{{- screen.name -}}" data-kodi-action="cec-standby">
            <i class="fa fa-television fa-fw fa-lg" aria-hidden="true"></i>
            <i class="fa fa-times fa-fw fa-lg" aria-hidden="true"></i>
            <br><br>
            Display Off
        </button>
    </div>
</div>
