<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8"/>

        <title>KodiKontroller</title>

        <base href="{{ baseUrl }}/">

    </head>


    <body>


        <header>

            <h1>KodiKontroller</h1>

        </header>


        <main>

            <h2>404: Not found :(</h2>

            <p>Perhaps you're looking for the <a href="main">main interface</a>?</p>

        </main>


        <footer>

            <p><a href="http://olipassey.me.uk/kodikontroller" target="_blank">olipassey.me.uk</a></p>

        </footer>


    </body>

</html>
