<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>KodiKontroller</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #27459e;
                font-family: 'Lato', sans-serif;
                font-size: 40px;
                margin-bottom: 0;
            }
            table {
                margin: 1em auto;
                border-collapse: collapse;
            }
            tr {
                border-bottom: 1px solid #ccc;
            }
            tr:last-of-type {
                border-bottom: none;
            }
            td, th {
                padding: .5em;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h1>Kodi Kontroller</h1>
        <div>Multiscreen multimedia management</div>

        <table>
            <tr>
                <th>Screen name</th>
                <th>Group</th>
                <th>Status</th>
            </tr>

            {% for screen in config.screens %}
                <tr>
                    <td>{{ screen.displayName }}</td>
                    <td>{{ screen.group }}</td>
                    <td>{{ screen.status }}</td>
                </tr>
            {% endfor %}

        </table>
    </body>
</html>
