@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

* {
    box-sizing: border-box;
}

body {
    font-family: "Saira Semi Condensed", sans-serif;
    margin: 0;
    padding: 0 0 2rem;
    background-image: url('assets/img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    width: 100%;
    height: 4rem;
    position: fixed;
    background-color: #cccccc;
}

header h1 {
    line-height: 4rem;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: .2rem;
    text-align: center;
}

main {
    padding: 5rem 1rem 1rem;
}

main:after {
    content: " ";
    display: table;
    clear: both;
}

textarea[name="response"] {
    width: 100%;
    margin: 0 0 .5rem;
    background: rgba(0,0,0,.8);
    color: #00ff00;
}

label {        
    font-size: 75%;
    position: relative;
}

.screen {
    width: 19%;
    margin: 1rem 1.25% 1rem 0;
    padding: 1rem;
    box-shadow: .2rem .2rem 1rem rgba(0,0,0,.5);
    float: left;
    background-color: rgba(255,255,255,.8);
}

.screen:nth-of-type(5n) {
    margin: 1rem 0 1rem 0;
}

.power-options {
    float: right;
    position: relative;
    padding: .5rem;
    cursor: pointer;
    right: -1rem;
    top: -1rem;
}

.power-options-popout {
    background: #ffffff;
    box-shadow: .2rem .2rem 1rem rgba(0,0,0,.5);
    width: 10rem;
    right: -.5rem;
    position: absolute;
    padding: .5rem;
    display: none;
}

.power-options-popout button {
    width: 100%;
}

.power-options:hover .power-options-popout {
    display: block;
}

.screenshot_holder {
    width: 100%;
    padding-bottom: 56.25%;
    background-size: cover;
    box-shadow: .2rem .2rem 1rem rgba(0,0,0,.5);
}

input {
    width: 80%;
    padding: .25rem;
    margin: 1rem 0 .5rem;
    display: block;
    float: left;
}

button {
    padding: .25rem;
}

button.inline {
    width: 20%;
    margin: 1rem 0 .5rem;
}

footer {
    position: fixed;
    width: 100%;
    padding: .5rem;
    bottom: 0;
    background-color: #cccccc;
}

footer p {
    margin: 0;
    text-align: center;
}

footer a {
    color: inherit;
    padding: .5rem;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background-color: #aaaaaa;
}
