body {
    font-family: Arial, sans-serif;
    background-image: url('/static/img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;  /* Ensure the background image covers the entire viewport height */
    margin: 0;  /* Remove default margin */
    color: #fff;  /* Adjust text color for visibility on background */
}

header {
    text-align: center;
    padding: 10px;
    background-color: #444;
    opacity: 90%;  /* Make the header slightly transparent */
}

header img {
    width: 500px;  /* Adjust size as necessary */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.host-widget {
    background: rgba(0, 0, 0, 0.5);  /* Semi-transparent background for readability */
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.host-header h2 {
    color: #fff;
}

.host-controls {
    display: flex;
    flex-direction: column;
}

.host-controls h3 {
    margin: 10px 10px 5px 10px;
    color: #fff;
}

.host-controls input[type="text"],
.host-controls select {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 10px;
    background: none;
    border: 1px solid #ccc;
    color: #fff;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.host-controls .play-button {
    margin: 5px 10px;
    padding: 8px;
    background: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}

.host-controls .notify-button {
    margin: 5px 10px;
    padding: 8px;
    background: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}

.host-controls .youtube-url-input {
    flex-grow: 1;
}

.host-controls .input-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.host-controls .input-group .play-button {
    flex-shrink: 0;
    margin-left: 10px;
    padding: 8px;
    background: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}

.dropdown-group {
    display: flex;
    justify-content: space-between;
}

.dropdown-group select {
    width: calc(50% - 15px);
    margin: 5px 10px;
    background: #333;  /* Darker background */
    color: #fff;  /* White text */
    border: 1px solid #ccc;  /* Border for dropdown */
    padding: 8px;  /* Padding for dropdown */
    box-sizing: border-box;  /* Ensure padding and border are included in the width */
}
