<article id="panel_{{- targetArray.name -}}" class="panel screen-panel" data-kodi-target="{{- targetArray.name -}}" style="animation-delay: {{ 500 + (count * 100) }}ms">

    {% include 'components/screen-panel__power-options.html.twig' %}

    <h2>{{- targetArray.displayName -}}</h2>

    <div class="screenshot_holder" style="background-image: url('assets/img/logo.png')"></div>

    <input name="url" type="text" placeholder="Enter a URL or location">
    <button data-kodi-action="play" class="inline">Play</button>

    <input name="message" type="text" placeholder="Enter a message">
    <button data-kodi-action="notify" class="inline">Notify</button>

    {# Disable unneeded interface elements

    <br>

    <p>Content<br>
    <button data-kodi-action="stats">Stats</button>
    <button data-kodi-action="social">Social</button>
    <button data-kodi-action="technical">Tech</button>
    </p>

    <p>Image Notify<br>
    <button data-kodi-action="img-notify-bottom">Bottom</button>
    <button data-kodi-action="img-notify-cent">Centred</button>
    <button data-kodi-action="img-notify-top">Top</button>
    <br>
    Duration: 1Min <br>
    Repeat: 30Mins<br>

    </p>

    <p>Auto On<br>
    <input class="timepicker" name="screenon"/>
    <button data-kodi-action="set-screen-on-time">Set</button>
    Auto Off<br>
    <input class="timepicker" name="screenoff"/>
    <button data-kodi-action="set-screen-off-time">Set</button>
    </p>

    #}

</article>
